* {
    margin: 0px;
    padding: 0px;
}

.header_navbar {
    display: flex;
    background-color: rgb(1, 58, 43);
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: Rubik Bubbles;
    color: rgb(255, 248, 121);
}

.header_navbar-item {
    display: flex;
    align-items: center;
    margin: 0 25px;
    justify-content: space-between;
    display: inline-block;
    position: relative;
    color: rgb(255, 248, 121);
    /* padding-top: 10px; */
}

.header_navbar-item i {
    padding-left: 5px;
}

.header_navbar-item:hover .menu-child {
    opacity: 1;
    visibility: visible;
    color: rgb(255, 248, 121);
}

.menu-child {
    position: absolute;
    background-color: rgb(28, 43, 26);
    opacity: 0;
    visibility: hidden;
    transition: .25s linear;
    color: rgb(255, 248, 121);
}

ul .menu-child-list {
    list-style-type: none;
    color: rgb(255, 248, 121);
}

.menu-child-list li {
    padding: 10px;
    color: rgb(255, 248, 121);
    border-top: 1px solid #eee;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px
}